:root {
  --color-light: #f8f9fa;
  --color-white: #fff;
  --color-unaccent: #808080;
  --color-text: rgb(21, 45, 70);
  --color-scroll: rgb(201, 221, 241);
  --color-scrollTrack: rgb(150, 162, 175);

  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 25px;

  --border-radius: 5px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.7;
  background-color: #def;
  background-image: radial-gradient(
      closest-side,
      transparent 98%,
      rgba(0, 0, 0, 0.3) 99%
    ),
    radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

* {
  scrollbar-color: var(--color-scroll) var(--color-scrollTrack);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background-color: var(--color-scroll);
}

::-webkit-scrollbar-track {
  background-color: var(--color-scrollTrack);
}
